# this file does nothing. users should copy its contents to their own .env
# file and fill in the required fields, which are used by the project

# Note: Use the 'set' instead of 'export' keyword in Windows systems

# KAGGLE Username and API Key
KAGGLE_KEY="YOUR_KAGGLE_API_KEY"
KAGGLE_USERNAME="YOUR_USERNAME_HERE"

# wandb API Key for Weights & Biases integration
WANDB_API_KEY="YOUR_WANDB_API_KEY_HERE"

# Google Cloud Storage bucket name (used for data drift reports and cloud storage)
BUCKET_NAME="YOUR_BUCKET_NAME_HERE"

## nnU-Net environment variables 
export nnUNet_raw="YOUR_PATH_HERE/nnUNet_raw" 
export nnUNet_preprocessed="YOUR_PATH_HERE/nnUNet_preprocessed"
export nnUNet_results="YOUR_PATH_HERE/nnUNet_results"